</html><!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Joice recipe finder app</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="main/styles.css">
    </head>
    <body>
        <div class="text-center">
            <ul class="nav nav-pills">
                <li class="active">
                    <a class="logo" href="index.html">Home</a>
                </li>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div id="mobile" class="img-responsive" alt="responsive image">
                            <img src="images/mobile.png">
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <div id="logo" class="pull-left">
                                    <img src="images/joice-logo.jpg">
                                </div>
                                <!--  <span class="glyphicon glyphicon-comment"></span> Chat -->
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                </div>
                            </div>
                            <!--   <div class="panel-body"></div> -->
                            <!-- Top of Bootstrap UI -->
                            <div id="quiz-container" class="scroll">
                                <div class="section clearfix" id="initial">
                                    <div class="icon"><img id="joice" src="images/joice-chat.png"></div>
                                    <div class="text"><p>Hi, I'm Joice! Can I help you find the perfect recipe?</p></div>
                                </div>
                            </div>
                            <!-- // bottom of Bootstrap UI //  -->
                            <div id="reply" class="clearfix">
 								<button type="button" id="begin" class="btn btn-primary button-center">Ready!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--     jQuery script -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <!-- custom script -->
        <script type="text/javascript" src="questions.js"></script>
    </body>
</html>