* { margin:0; padding:0; box-sizing:border-box; }

body {
	/*background-color: #999; */
	font-family: Arial sans-serif; 
	font-size: 18px; 
}
button {
	background-color: #666;
	margin: 10px auto; 
	width: 150px;
	height: 80px;
	font-size: 1.5em; 
	color: white;
	box-shadow: 3px 3px; 
	display: block;
	outline: none;
}
button:hover {
	background-color: #555; 
}
button:active {
	background-color: #444; 
	outline: none; 
}
.container1 {
	width: 800px;
	height: 100px;
	bottom border: dotted white 10px;
	margin: 10px auto; 
	background-color: #333;
}
.container2 {
	width: 800px;
	height: 100px;
	margin: 10px auto; 
	background-color: #333;
}
#box1 {
	/*margin: 30px 10px 10px 10px; */
	position: absolute;
	left: 100;
	top: 100;
}
#box2 {
	/*margin: 30px 10px 10px 10px; */
	position: absolute;
	left: 100;
	top: 100;
}
.finishline {
	background-image: linear-gradient(45deg, #555 25%, transparent 25%, transparent), linear-gradient(-45deg, #555 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, #555 75%), linear-gradient(-45deg, transparent 75%, #555 75%);
	background-size: 15px 15px;
    -moz-box-shadow: -52px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
	height: 220px;
    width: 40px;
    margin: 10px; 
    left: 1140px;
    top: 48px;
    position: absolute;
}
#instructions {
	text-align: center;
	margin: 30px 0 20px 0 auto; 
	font-size: 1.5em; 
	padding: 10px; 
}
#gametitle {
	text-align: center; 
	margin: 10px;
}

