body {
	background-color: lightblue;
	font-size: 18px; 

}
.section {
	width: 30%;
	margin: 20px auto;
	padding: 1em;
	border: black solid 2px;
	text-align: center; 
}
.button-center {
	margin: 0 auto; 
}
#header {
	text-align: center; 
}
