body {
	background-color: #F8F8F8; 
	font-family: 'Indie Flower', cursive;
	font-size: 18px; 
}
header {
	margin: .5em auto;
	text-align: center;
}
footer {
	text-align: center;
}
#wrapper {
	width: 80%;
	border: solid 2px black; 
	padding: .5em;
	margin: .5em auto;
	background-color: #E8E8E8; 

}
#textbox {
/*	border: solid 1px black; */
	width: 25%;
	padding: .5em 1em;
	margin: .5em;
	float: left;
	background-color: #D8D8D8; 
}
.photogallery {
/*	border: solid 1px black; */
	width: 62%;
	padding: .3em 1em;
	margin: .3em;
	float: left;
	background-color: #D8D8D8;
}
.photos {
	float: left;
	margin: .5em;
}
#elevate-zoom-emma {
	border-radius: 4px; 
}
#elevate-zoom-meg {
	border-radius: 4px; 
}
#emma {
	border-radius: 4px; 
}
#meg {
	border-radius: 4px; 
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

