/* CSS for Daniel's uBrandMe site*/
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size: 20px; 
	font-family: Lora, sans-serif; 
	color: #333
}
i {
	color: #222;
}
li {
	display: inline;
	padding: 1em;
}
footer {
	margin: auto 0;
	color: #222;
	text-align: center;
	clear: both;
	margin-top: 2%; 
	/*can have a margin bottom on body instead? */
}
.horiz {
  background-color: orange;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 1em 1em 1em 4em;
  text-align: center;
  margin: 1% auto; 
  font-size: 1.5em; 
}
.tagline {
	text-align: center;
	margin: 1% auto;
}
#logo {
	display: inline-block;
	margin: 1% 1%; 
	float: left;
	padding: 10px 20px; 
}
#headline {
	text-align: center;
	text-decoration: bold; 
	padding: .5em 4em; 
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
#wrapper1 {
	max-width: 100%; 
	background-color: orange; 
	/*border: .15em black solid; */
	padding: 1em 2em 1em 2em; 
	margin: 1% auto;
}
#wrapper2 {
	max-width: 1200px; 
	/*border: .15em black solid; */
	padding: 10 5em; 	
	margin: 1% auto;
}
#wrapper3 {
	max-width: 1200px; 
	/*border: .15em black solid; */
	padding: .5em 1em; 
	margin: 1% auto;
}
.columns {
   width: 31%; 
   padding: 5px;
   margin: 1%;
   float: left;
   text-align: center; 
}
@media only screen and (max-width: 1080px) {
	.horiz {
		float: none;
		padding: .1em;
		margin: 1% 0 auto;
		width: 100%;
	}
	h1 {
		font-size: 1.5em;
	}
	.columns {
		float: none; 
	}
	#wrapper2 {
		width: 95%; 
	}
	#wrapper3 {
		width: 95%; 
	}
}
@media only screen and (max-width: 480px) {
	li {
		display: block;
		padding: .25em;
	}
	.horiz {
		padding: .5em;
	}
	#logo {
		float: none; 
	}
}