/* CSS for Daniel's uBrandMe site*/
* { margin:0; padding:0; box-sizing:border-box; }
p {
	font-size: 20px; 
	font-family: Lora, sans-serif; 
}
span {
	color: orange;
	font-weight: 800; 
}
i {
	color: black;
}
li {
	display: inline;
	padding: 1em;
}
.horiz {
  background-color: orange;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 1em 1em 1em 4em;
  text-align: center;
  margin: .5em auto; 
  font-size: 2em; 
}
.tagline {
	text-align: center;
}
#logo {
	display: inline-block;
	margin-left: 1em; 
	float: left;
}
#headline {
	text-align: center;
	text-decoration: bold; 
	padding: .5em 4em; 

}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
#wrapper1 {
	width: 95%; 
	border: .15em black solid; 
	padding: 1em 2em 1em 2em; 
	margin: .5em auto;
}
#wrapper2 {
	width: 95%; 
	border: .15em black solid; 
	padding: 10 5em; 	
	margin: .5em auto;
}
#wrapper3 {
	width: 95%; 
	border: .15em black solid; 
	padding: .5em 1em; 
	margin: .5em auto;
}
.columns {
   width: 30%; 
   padding: .5em;
   margin: .5em;
   float: left;
   text-align: center; 
}
footer {
	margin: auto 0;
	color: black;
	text-align: center;
	clear: both;
	margin-top: 1em; 
	/*can have a margin bottom on body instead? */
}
@media only screen and (max-width: 800px) {
	.horiz {
		float: none;
		padding: .1em;
		margin: .1em 0 auto;
		width: 100%;
	}
	.columns {
		float: none; 
	}
}
@media only screen and (max-width: 480px) {
	li {
		display: block;
		padding: .25em;
	}
	.horiz {
		padding: .5em;
	}
	h1 {
		font-size: 2em;
	}
	#logo {
		float: none; 
	}
}