h1 {
	color: white;
}
body {
	background-color: #0099FF;
	font-family: Arial, serif;
	color: white; 
}
header {
	margin: auto; 
	text-align: center;
}
h2 {
	width: auto;
	color: #11111;
	padding: 10px;
	margin: 20px;
	font-style: italic;
	text-align: center;
}
ul {
	display: inline;
}
li {
	display: inline;
}
span {
	width: auto;
	color: silver;
	padding: 10px;
	margin: 10px;
	font-style: bold;
	font-size: 30; 
}
footer {
	margin: auto 0;
	color: black;
	text-align: center;
}
#wrapper {
	background-color: green;
	width: 660px;
	margin: 0 auto;
	border: 40px solid black;
	padding: 10px;
}
#container {
	color: black;
	position: left;
	width: 400px;
	text-align: center;
	padding: 10px;
	border: 30px solid purple;
	margin: left;
}