body {
	background-color: black;
}
h1,p,ul {
	color: green;
	text-align: center;
}

p {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}

#slogan {
	font-style: italic;
}

.important {
	font-size: 38px;
}