body {
	background-color: #CCCCFF;
	color: black;
}
h1,p {
	text-align: center;
}
p {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}
ul {
	text-align: left;
}
.slogan {
	font-style: italic;
	color: white;
}

