header {
  text-align: center;
  color: white;
  font-weight: bold;
}
body {
	background-color: #CCCCFF;
	color: black;
	font-family: 'Slabo 27px', serif;
}
h1,p {
	text-align: center;
}
p {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}
ul {
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;
}
#slogan {
	font-style: italic;
	color: black;
}
#contact {
	text-align: left;
}

