body {
	background: url("http://i.imgur.com/3VWZow9.jpg");
	background-size: cover;
}
.profile {
  height: 0;
  width: 140px;
  border-top: 300px solid #cc6;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  right: 20px;
}
h1,p {
	color: blue;
	text-align: right;
}
p {
	font-family: "Times New Roman";
	font-size: 20px;
}