body {
	background: url("http://i.imgur.com/3VWZow9.jpg");
	background-size: cover;
}
div {
  height: 500px;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
.profile {
  height: 0;
  width: 640px;
  border-top: 300px solid #ac6;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  right: 20px;
}
h1,p {
	color: blue;
	text-align: left;
}
p {
	font-family: "Times New Roman";
	font-size: 20px;
}